.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h1{
    color: #fff;
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 555px;
    background-color: #E7E7E7;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 60px 0;
    margin: 2% 0 3%;
}
.form_group{
    display: flex;
    flex-direction: column;
    margin: 1% 15%;
}
.form_group{
    color: #555555;
    font-weight: 600;
}
.form_group input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 5px 0;
    font-weight: 400;
}
.form_group input::placeholder{
    font-weight: 600;
    opacity: 60%;
}
.form_group input:focus{
    border: none;
}
form button{
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 5% 25% 0px;
    font-weight: 600;
    color: #fff;
    background-color: #0096FF;
    cursor: pointer;
}
form button:hover{ background-color: #007AD1;}

.error {
    color: red;
    font-size: 10px;
    margin-top: 10px;
    display: none;
}
.error i{
    margin-right: 5px;
}

.register{
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    color: #555555;
}
.register a{
    color: #007AD1;
    margin-left: 10px;
}
.register a:hover{
    color: #005FA3;
}
.register i{
    margin-right: 5px;
}

@media (max-width: 655px){
    form{
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        padding-bottom: 202px;
    }
}